html {
    font-size: 10px;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.6rem;
    color: #333;
    line-height: 1.5;
    text-align: center;
    margin: 0;
  }
  
  #main {
    padding: 0 4rem;
    background-color: #f1f1f1;
  }
  
  h1 {
    font-size: 4rem;
    margin: 0;
  }
  
  #img-div {
    margin: 0;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 15px;
  }
  
  #image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  #img-caption {
    margin-top: 1.5rem;
  }
  
  ul {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
  }
  
  @media (max-width: 460px) {
    #main {
      padding: 1rem;
    }
    
    h1 {
      font-size: 3rem;
    }
  }